body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	text-transform: uppercase;
}

h2 {
	text-align: center;
	padding: 30px 0;
}

img {
	max-height:500px;
}
a:hover {
	color: #CD0000 !important;
	transition: .5s;
}
.jumbotron {
	font-size: 1.2rem;
	width: 100%;
	text-align: center;
	padding: 10%;
	background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;
}

.normal {
	border: none;
	transition: .2s;
}

p {
	padding:1.6%;
}
