html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}

nav {
	text-transform: uppercase;
}

h2 {
	text-align: center;
	padding: 30px 0;
}

img {
	max-height:500px;
}
/*a:hover {
	color: #CD0000 !important;
	transition: .5s;
}*/
#page-top {
	font-size: 1.2rem;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	text-align: center;
	padding: 10%;
	background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.normal {
	border: none;
	transition: .2s;
}

p {
	padding:1.6%;
}

.stuck {
  position:fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

#portfolio {
	color: white;
	text-align: center;
padding-bottom: 300px;
	background-image: url(https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
background-attachment: fixed;
background-position: center;
}
